@model SocialNetwork.Presentation.Web.Models.Users.UserModel

<h1>Профиль пользователя</h1>

<div>
    <p><strong>Имя:</strong> @Model.Name</p>
    <p><strong>Имя пользователя:</strong> @Model.Username</p>
</div>