@model SocialNetwork.Presentation.Web.Models.Users.UserModel

<div class="user-profile-box" style="display: flex; align-items: flex-start; gap: 30px;">
    <img src="/images/default-avatar.png" alt="Аватар" style="width: 120px; height: 120px; border-radius: 50%; object-fit: cover;" />
    
    <div>
        <p><strong>Имя: </strong>@Model.Name</p>
        <p><strong>Имя пользователя: </strong>@Model.Username</p>
    </div>
</div>