@model SocialNetwork.Presentation.Web.Models.Users.UserModel

<div class="user-profile-box">
    <img src="/images/default-avatar.png" alt="Аватар" class="avatar-large" />
    
    <div>
        <p><strong>@Model.Name @Model.Surname</strong></p>
        <p>@Model.Username</p>
    </div>
</div>