.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-input {
    max-width: 300px;
    margin-right: 10px;
}

.search-button {
    width: auto;
    padding: 10px 20px;
}