@{
    var currentUser = ViewData["CurrentUser"] as SocialNetwork.Application.Models.User;
}

<header class="site-header">
    <div class="header-container">
        <div class="site-title">
            <a href="/">SocialNetwork</a>
        </div>

        <div class="auth-links">
            @if (currentUser != null)
            {
                <a href="/@currentUser.Username">
                    Моя страница (@currentUser.Username)
                </a>
            }
            else
            {
                <a href="/login" class="btn btn-primary">Войти</a>
            }
        </div>
    </div>
</header>