@{
    var currentUser = ViewData["CurrentUser"] as SocialNetwork.Application.Models.User;
}

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">SocialNetwork</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (currentUser != null)
                {
                    <a href="/@currentUser.Username">
                        Моя страница (@currentUser.Username)
                    </a>
                }
                else
                {
                    <a href="/login" class="btn btn-primary">Войти</a>
                }
            </li>
        </ul>
    </div>
</nav>