@{
    var title = ViewData["Title"]?.ToString();
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <link rel="stylesheet" type="text/css" href="~/css/shared/header.css">
    <link rel="stylesheet" type="text/css" href="~/css/shared/sidebar.css">
    @await RenderSectionAsync("HeadArea", required: false)
</head>
<body>
@await Html.PartialAsync("_Header")

<div class="main-layout">
    <main class="container">
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("_Sidebar")
            </div>
            <div class="col-md-9">
                <h2 class="text-center mt-3 mb-2">@title</h2>
                
                @RenderBody()   
            </div>
        </div>
    </main>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>