@{
    var currentUser = ViewData["CurrentUser"] as SocialNetwork.Application.Models.User;
}

<nav class="sidebar">
    <ul>
        <li><a href="/search">Поиск</a></li>
        @if (currentUser != null)
        {
            <li><a href="/@currentUser.Username">Профиль</a></li>
        }
        <li><a href="/feed">Новости</a></li>
        @if (currentUser != null)
        {
            <li><a href="/messages">Сообщения</a></li>
            <li><a href="/friends">Друзья</a></li>
            <li><a href="/settings">Настройки</a></li>
        }
    </ul>
</nav>