@model SocialNetwork.Presentation.Web.Models.Friends.UserFriendsModel

@{
    ViewData["Title"] = "Друзья";
}

<div class="container mt-4">
    @if (Model.Friends.Any())
    {
        <ul class="list-group">
            @foreach (var user in Model.Friends)
            {
                @await Html.PartialAsync("_UserListItem", user)
            }
        </ul>
    }
    else
    {
        <p class="text-muted">Нет друзей</p>
    }
</div>