@model SocialNetwork.Presentation.Web.Models.Users.SearchUsersResultModel

@{
    ViewData["Title"] = "Поиск";
    var prevPage = Model.Page > 1 ? Model.Page - 1 : 1;
    var nextPage = Model.Page + 1;
    var andQueryParam = string.IsNullOrWhiteSpace(Model.Query) ? "" : "&query=" + Uri.EscapeDataString(Model.Query);
}

<div class="container mt-4">
    <form method="get" asp-controller="Search" asp-action="Search" class="form-inline mb-4 justify-content-center">
        <input type="text" name="query" placeholder="Введите запрос" value="@Model.Query" class="form-control mr-2"/>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>

    @if (Model.Users.Any())
    {
        <ul class="list-group">
            @foreach (var user in Model.Users)
            {
                @await Html.PartialAsync("_UserListItem", user)
            }
        </ul>
    }
    else
    {
        <p>Пользователи не найдены</p>
    }

    <div class="d-flex justify-content-center mt-4">
        <div class="btn-group" role="group">
            @if (Model.Page > 1)
            {
                <a href="/search?page=@prevPage@andQueryParam" class="btn btn-secondary">←</a>
            }

            <span class="btn btn-light disabled">@Model.Page</span>

            @if (!(Model.Users.Count < Model.PageSize))
            {
                <a href="/search?page=@nextPage@andQueryParam" class="btn btn-secondary">→</a>
            }
        </div>
    </div>
</div>